@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services

<EditForm Model="@ClientModel" OnValidSubmit="@Submit">
    <FluentValidationValidator/>
    <HssInputCustom Caption="First name" @bind-Value="ClientModel.FirstName"/>
    <ValidationMessage For="@(() => ClientModel.FirstName)"/>
    <HssInputCustom Caption="Last name" @bind-Value="ClientModel.LastName"/>
    <ValidationMessage For="@(() => ClientModel.LastName)"/>
    <HssInputCustom Caption="Company name" @bind-Value="ClientModel.CompanyName"/>
    <HssInputCustom Caption="Email" @bind-Value="ClientModel.Email"/>
    <ValidationMessage For="@(() => ClientModel.Email)"/>
    <HssInputCustom Caption="Phone number" @bind-Value="ClientModel.PhoneNumber"/>
    <ValidationMessage For="@(() => ClientModel.PhoneNumber)"/>
    <HssInputCustom Caption="Tax Id" @bind-Value="ClientModel.TaxId"/>
    <div class="col-12 row">
        <span class="col-2"></span>
        <input type="submit" class="form-control col-1 btn btn-primary" value="Submit"/>
    </div>
</EditForm>

@code {
    [Parameter]
    public Client ClientModel { get; set; }
    
    [Parameter]
    public EventCallback<Client> OnSubmit { get; set; }
    
    private async Task Submit()
    {
        await OnSubmit.InvokeAsync(ClientModel);
    }
}