@using HotelServiceSystem.Entities
@using HotelServiceSystem.Features
@using HotelServiceSystem.Interfaces.Services
@inject IEventReservationService eventReservationService
@inject IClientService clientService
@inject IRoomService roomService

<EditForm Model="@EventReservationModel" OnValidSubmit="@Submit">
    <FluentValidationValidator/>
    <HssClientAutoselect ClientList="@ClientList" ClientModel="@EventReservationModel.Client" OnClientAdd="@AddClient" ClientValueChanged="@SetClient"/>
    <HssInputCustom Caption="Number of guests" @bind-Value="EventReservationModel.NumberOfGuests"/>
    
    @* Dodać kontrolkę czy to wydarzenie jedno, czy dwu dniowe*@
    <HssTimespanPicker ReservationModel="@EventReservationModel" OnDatesSelected="@FillAvailableRoomsList"/>
    
    @*Dodać kontrolkę czy to jest  *@
    <div class="form-group">
        <HSSRoomMultiSelector NotSelected="@RoomList" NotSelectedLabel="Available Rooms" Selected="@SelectedRoomList" SelectedLabel="Selected Rooms"/>
    </div>
    
    @*EventRoom*@

    <HssInputCustom Caption="Price" @bind-Value="EventReservationModel.Price"/>
    <HssInputCustom Caption="Discount" @bind-Value="EventReservationModel.Discount"/>
    <MatStringField Label="Description" @bind-Value="EventReservationModel.Description" FullWidth="true"/>
    <div class="col-12 row">
        <span class="col-2"></span>
        <input type="submit" class="form-control col-2 btn btn-primary" value="Submit"/>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventReservation EventReservationModel { get; set; }
    
    private List<Room> SelectedRoomList { get; set; }
    private List<Room> RoomList { get; set; }
    private List<Client> ClientList { get; set; }

    [Parameter]
    public EventCallback<EventReservation> OnSubmit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        RoomList = new List<Room>();
        SelectedRoomList = new List<Room>();
        ClientList = clientService.GetAllClients();
        
        EventReservationModel = new EventReservation
        {
            Client = new Client()
        };
        
        RoomList.Select(x => new MultiSelector(x.Id.ToString(), $"Room Number : {x.RoomIdentifier}")).ToList();
        await base.OnInitializedAsync();
    }
    

    private async Task Submit()
    {
        EventReservationModel.RoomReservations.Clear();
        SelectedRoomList.ForEach( x=> EventReservationModel.RoomReservations.Add(new RoomReservation
        {
            Reservation = EventReservationModel,
            Room = x
        }));

        EventReservationModel.DateOfSubmission = DateTime.Today.ToLocalTime();
        
        await OnSubmit.InvokeAsync(EventReservationModel);

        EventReservationModel = new EventReservation
        {
            Client = new Client()
        };
    }
    
    private void FillAvailableRoomsList(Core.TimeSpan timeSpan)
    {
        RoomList = roomService.GetAvailableRooms(timeSpan);
    }
    
    private async Task AddClient(Client client)
    {
        await clientService.AddClientAsync(client);
        ClientList.Add(client);
    }
    
    private void SetClient(Client client)
    {
        EventReservationModel.Client = client;
    }
}