@using HotelServiceSystem.Entities
@using HotelServiceSystem.Features
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Core
@using HotelServiceSystem.Core.Helpers
@using System.Collections
@using Microsoft.Extensions.Logging
@using TimeSpan = HotelServiceSystem.Core.TimeSpan
@inject IHotelReservationService hotelReservationService
@inject IClientService clientService
@inject IRoomService roomService

<EditForm Model="@ReservationModel" OnValidSubmit="@Submit">
    <FluentValidationValidator/>
    @if (ClientList != null && ClientList.Any())
    {
        <BlazoredTypeahead SearchMethod="ClientSearch" @bind-Value="@_selectedClient" ShowDropDownOnFocus="@true">
            <SelectedTemplate Context="template">
                @template.GetAutocompleteValue()
            </SelectedTemplate>
            <ResultTemplate Context="template">
                @template.GetAutocompleteValue()
            </ResultTemplate>
            <NotFoundTemplate>
                Client not found
            </NotFoundTemplate>
        </BlazoredTypeahead>
    }
    <br/>
    <ValidationMessage For="@(() => _selectedClient.Id)"></ValidationMessage>
    <HssInputCustom Caption="Number of guests" @bind-Value="ReservationModel.NumberOfGuests"/>
    <HssDatePicker Label="Date from" OnValueChanged="@SetDateFrom" ValidationFor="@(() => ReservationModel.DateFrom)"/>
    <HssDatePicker Label="Date to" OnValueChanged="@SetDateTo" ValidationFor="@(() => ReservationModel.DateTo)"/>
    <div class="form-group">
        <HSSMultiSelector Selected="@_selected" NotSelected="@_notSelected"/>
    </div>
    <ValidationMessage For="@(() => _selected)"></ValidationMessage>
    <HssInputCustom Caption="Price" @bind-Value="ReservationModel.Price"/>
    <HssInputCustom Caption="Discount" @bind-Value="ReservationModel.Discount"/>
    <div class="col-12 row">
        <span class="col-2"></span>
        <input type="submit" class="form-control col-2 btn btn-primary" value="Submit"/>
    </div>
</EditForm>

@code {
    [Parameter]
    public HotelReservation ReservationModel { get; set; }

    private Client sClient;
    
    private Client _selectedClient
    {
        get
        {
            if (sClient == null)
            {
                return new Client()
                {
                    CompanyName = "",
                    Email = "",
                    FirstName = "",
                    LastName = "",
                    PhoneNumber = ""
                };
            }

            return sClient;

        }
        set => sClient = value;
    }

    [Parameter]
    public EventCallback<HotelReservation> OnSubmit { get; set; }

    private List<MultiSelector> _selected;
    private List<MultiSelector> _notSelected;
    private List<Room> RoomList { get; set; }
    private List<Client> ClientList { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        sClient = new Client();
        RoomList = new List<Room>();
        ClientList = clientService.GetAllClients();
        _notSelected = new List<MultiSelector>();
        _selected = new List<MultiSelector>();
        
        var roomReservations = ReservationModel.RoomReservations;
        if (roomReservations != null && roomReservations.Count > 0)
        {
            foreach (var roomReservation in roomReservations)
            {
                var room = roomReservation.Room;
                if (room != null)
                {
                    _selected.Add(GetMultiSelectorValue(room));
                }
                
            }
            _notSelected.RemoveAll(x => _selected.Any(y => y.Key == x.Key));
        }
        
        await base.OnInitializedAsync();
    }
    

    private async Task Submit()
    {
        var selectedRooms = RoomList.Where(x => _selected.Any(y => y.Key == x.Id.ToString())).ToList();
        
        ReservationModel.RoomReservations.Clear();
        selectedRooms.ForEach( x=> ReservationModel.RoomReservations.Add(new RoomReservation
        {
            Reservation = ReservationModel,
            Room = x
        }));
        
        await OnSubmit.InvokeAsync(ReservationModel);
        
        _notSelected = new List<MultiSelector>();
        _selected = new List<MultiSelector>();
    }

    private MultiSelector GetMultiSelectorValue(Room room)
    {
        return new MultiSelector(room.Id.ToString(), $"Room Number : {room.RoomIdentifier}");
    }

    private async Task<IEnumerable<Client>> ClientSearch(string searchClient)
    {
        if (string.IsNullOrEmpty(searchClient))
        {
            return await Task.FromResult(ClientList);
        }
        
        var search = searchClient.ToLower();
        return await Task.FromResult(ClientList.Where(x => x.FirstName.ToLower().Contains(search) ||
                                                            x.LastName.ToLower().Contains(search) ||
                                                            x.PhoneNumber.ToLower().Contains(search)).ToList());
    }

    private void FillAvailableRoomsList()
    {
        if (ReservationModel.DateFrom != default && ReservationModel.DateTo != default)
        {
            var timeSpan = new TimeSpan(ReservationModel.DateFrom, ReservationModel.DateTo);
            RoomList = roomService.GetAvailableRooms(timeSpan);
            _notSelected = RoomList.Select(GetMultiSelectorValue).ToList();
        }
    }

    private void SetDateFrom(DateTime dateTime)
    {
        ReservationModel.DateFrom = dateTime.ToLocalTime();
        FillAvailableRoomsList();
    }
    
    private void SetDateTo(DateTime dateTime)
    {
        ReservationModel.DateTo = dateTime.ToLocalTime();
        FillAvailableRoomsList();
    }
}