@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Core
@using System.Linq.Expressions
@using HotelServiceSystem.Interfaces.Helpers

@inject IAdditionalServiceHelper serviceHelper;

<div class="card">
    <div class="card-body" style="display: flex">
        <MatChipSet UseOrdinaryChipCheck="@true" Filter="@true" @bind-SelectedChips="@SelectedChips">
            @if (AdditionalServiceList != null)
            {
                foreach (var additionalService in AdditionalServiceList)
                {
                    <MatChip Label="@additionalService.Name" IsCheckable="@true" Attributes="@(new Dictionary<string, object> {{IdAttribute, additionalService.Id}})"/>
                }
            }
        </MatChipSet>
    </div>
</div>


@code {
        
    private const string IdAttribute = "Id";

    [Parameter]
    public List<AdditionalService> AdditionalServiceList { get; set; } = new List<AdditionalService>();
    
    [Parameter]
    public EventCallback<List<AdditionalService>> SelectedAdditionalServicesChanged { get; set; }
    
    private List<AdditionalService> _selectedAdditionalServices  = new List<AdditionalService>();
    
    [Parameter]
    public List<AdditionalService> SelectedAdditionalServices
    {
        get => _selectedAdditionalServices;
        set
        {
            if (_selectedAdditionalServices == value)
                return;
            
            SelectedAdditionalServicesChanged.InvokeAsync(value);
            _selectedAdditionalServices = value;
        }
        
    }

    protected override async Task OnInitializedAsync()
    {
        if (SelectedAdditionalServices != null && SelectedAdditionalServices.Count > 0)
        {
            var selectedChips = new List<MatChip>();
            selectedChips.AddRange(SelectedAdditionalServices.Select(addService => new MatChip {Label = addService.Name}));
            SelectedChips = selectedChips.ToArray();
        }

        await base.OnInitializedAsync();
    }



    private MatChip[] SelectedChips
    {
        get => _selectedChips;
        set
        {
            if (_selectedChips == value)
                return;
            
            _selectedChips = value;
            SelectedAdditionalServices = serviceHelper.GetSelectedAdditionalServices(_selectedChips, AdditionalServiceList);
        }
    }
    
    private MatChip[] _selectedChips = null;
}