@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Core
@using System.Linq.Expressions

<div class="card">
    <div class="card-body" style="display: flex">
        <MatChipSet UseOrdinaryChipCheck="@true" Filter="@true" @bind-SelectedChips="@SelectedChips">
            @if (AdditionalServiceList != null)
            {
                foreach (var additionalService in AdditionalServiceList)
                {
                    <MatChip Label="@additionalService.Name" IsCheckable="@true" Attributes="@(new Dictionary<string, object> {{IdAttribute, additionalService.Id}})"/>
                }
            }
        </MatChipSet>
    </div>
</div>


@code {
        
    private const string IdAttribute = "Id";

    [Parameter]
    public List<AdditionalService> AdditionalServiceList { get; set; } = new List<AdditionalService>();
    
    [Parameter]
    public MatChip[] SelectedChips
    {
        get => _selectedChips;
        set
        {
            if (_selectedChips == value)
                return;

            SelectedChipsChanged.InvokeAsync(value);
            _selectedChips = value;
        }
    }

    [Parameter]
    public EventCallback<MatChip[]> SelectedChipsChanged { get; set; }

    private MatChip[] _selectedChips = null;
    
}