@using HotelServiceSystem.Entities
@using HotelServiceSystem.Core.Helpers
@using System.Linq.Expressions

<div class="form-control-wrapper">
@if (ClientList != null && ClientList.Any())
    {
        <BlazoredTypeahead SearchMethod="ClientSearch" @bind-Value="@ClientValue" ShowDropDownOnFocus="@true">
            <SelectedTemplate Context="template">
                @template.GetAutocompleteValue()
            </SelectedTemplate>
            <ResultTemplate Context="template">
                @template.GetAutocompleteValue()
            </ResultTemplate>
            <NotFoundTemplate>
                Client not found
                @*<MatButton Type="Button" OnClick="@(() => { EnableClientAdd = true;})">Add new +</MatButton>*@
            </NotFoundTemplate>
        </BlazoredTypeahead>
    }
    @if (EnableClientAdd)
    {
        <br/>
        <div class="card">
            <div class="card-body">
                <HssClientsInput ClientModel="@(new Client())" OnSubmit="AddClient"/>
            </div>
        </div>
    }
    <div class="form-control-validation">
        <ValidationMessage For="@(() => ClientValue.Id)"/>
    </div>
</div>
@code {

    [Parameter]
    public Client ClientModel { get; set; }

    private Client ClientValue
    {
        get => ClientModel ??= Client.Default;
        set
        {
            ClientModel = value;
            ClientValueChanged.InvokeAsync(value);
        } 
    }
    
    [Parameter]
    public List<Client> ClientList { get; set; }
    
    [Parameter]
    public EventCallback<Client> OnClientAdd { get; set; }
    
    [Parameter]
    public EventCallback<Client> ClientValueChanged { get; set; }

    private bool EnableClientAdd { get; set; }

    private async Task AddClient(Client client)
    {
        client.IsActive = true;
        await OnClientAdd.InvokeAsync(client);
        ClientList.Add(client);
        ClientValue = client;
        EnableClientAdd = false;
    }
    
    private async Task<IEnumerable<Client>> ClientSearch(string searchClient)
    {
        if (string.IsNullOrEmpty(searchClient))
        {
            return await Task.FromResult(ClientList);
        }
        
        var search = searchClient.ToLower();
        return await Task.FromResult(ClientList.Where(x => x.GetAutocompleteValue().ToLower().Contains(search)).ToList());
    }
}