@page "/additionalServiceDetails/{Id:int}"
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Core
@inject IAdditionalServiceService additionalServiceService

@if (AdditionalServiceModel != null)
{
    <MudGrid>
        <MudItem xs="12">
            <MudCard Elevation="25"></MudCard>
            <MudExpansionPanel HideIcon="@true" IsExpanded="PanelExpanded">
                <TitleContent>
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Rounded.Edit" class="mr3"/>
                        <MudText> Edytuj serwis dodatkowy</MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <HssAdditionalServiceInput AdditionalServiceModel="AdditionalServiceModel" IsEdit="@true" AvailableServiceTypes="_allowedServiceTypes" OnSubmit="OnAdditionalServiceEdit"/>
                </ChildContent>
            </MudExpansionPanel>
        </MudItem>
        <MudItem xs="8">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudGrid Justify="Justify.SpaceEvenly">
                            <MudItem xs="12">
                                <MudText Align="Align.Center" Typo="Typo.h6" Inline="@true" GutterBottom="@true">Serwis dodatkowy <strong><u>@AdditionalServiceModel.Name</u></strong> szczegóły</MudText> 
                            </MudItem>
                            <MudItem xs="12">
                                <MudDivider DividerType="DividerType.Middle"/>
                            </MudItem>
                        </MudGrid>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Cena" Variant="Variant.Outlined">@AdditionalServiceModel.Price</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Typ" Variant="Variant.Outlined">@AdditionalServiceModel.ServiceType</MudField>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
}
else
{
    <p>...waiting</p>
}

@code {
    [Parameter]
    public int Id { get; set; }
    
    private bool PanelExpanded { get; set; }
    
    private AdditionalService AdditionalServiceModel { get; set; }

    private List<ServiceType> _allowedServiceTypes = new List<ServiceType> {ServiceType.Reservation, ServiceType.Room};

    protected override async Task OnInitializedAsync()
    {
        AdditionalServiceModel = additionalServiceService.GetById(Id);
        await base.OnInitializedAsync();
    }

    private async Task OnAdditionalServiceEdit(AdditionalService additionalService)
    {
        await additionalServiceService.UpdateAdditionalServiceAsync(additionalService);
        PanelExpanded = false;
    }

}