@page "/additionalServiceDetails/{Id:int}"
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Core
@inject IAdditionalServiceService additionalServiceService

@if (AdditionalServiceModel != null)
{
    <MudExpansionPanel HideIcon="@true" IsExpanded="PanelExpanded">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Rounded.Edit" class="mr3"/>
                <MudText> Edit additonal service</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <HssAdditionalServiceInput AdditionalServiceModel="AdditionalServiceModel" AvailableServiceTypes="_allowedServiceTypes" OnSubmit="OnAdditionalServiceEdit"/>
        </ChildContent>
    </MudExpansionPanel>
    <div class="card">
        <div class="card-body">
            <p>Service name : @AdditionalServiceModel.Name </p>
            <p>Service price : @AdditionalServiceModel.Price </p>
            <p>Service type : @AdditionalServiceModel.ServiceType </p>
        </div>
    </div>
}
else
{
    <p>...waiting</p>
}

@code {
    [Parameter]
    public int Id { get; set; }
    
    private bool PanelExpanded { get; set; }
    
    private AdditionalService AdditionalServiceModel { get; set; }

    private List<ServiceType> _allowedServiceTypes = new List<ServiceType> {ServiceType.Reservation, ServiceType.Room};

    protected override async Task OnInitializedAsync()
    {
        AdditionalServiceModel = additionalServiceService.GetById(Id);
        await base.OnInitializedAsync();
    }

    private async Task OnAdditionalServiceEdit(AdditionalService additionalService)
    {
        await additionalServiceService.UpdateAdditionalServiceAsync(additionalService);
        PanelExpanded = false;
    }

}