@page "/clientDetails/{Id:int}"
@using System.Reflection.Metadata
@using HotelServiceSystem.Data_access.Core
@using HotelServiceSystem.Domain.Entities
@using HotelServiceSystem.Logic.Features.Helpers
@using HotelServiceSystem.Logic.Interfaces.Helpers
@using HotelServiceSystem.Logic.Interfaces.Services
@inject IClientService clientService
@inject NavigationManager navigationManager
@inject IReservationHelper ReservationHelper
@inject IDateManager DateManager

@if (ClientModel != null)
{
    <MudGrid>
        <MudItem xs="12">
            <MudCard Elevation="25">
                <MudExpansionPanel HideIcon="@true" IsExpanded="PanelExpanded">
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="@Icons.Rounded.Edit" class="mr3"/>
                            <MudText> Edytuj klienta</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <HssClientsInput ClientModel="@ClientModel" IsEdit="@true" OnSubmit="OnClientEdit"/>
                    </ChildContent>
                </MudExpansionPanel>
            </MudCard>
        </MudItem>
        <MudItem xs="8">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudGrid Justify="Justify.SpaceEvenly">
                            <MudItem xs="12">
                                <MudText Align="Align.Center" Typo="Typo.h6" Inline="@true" GutterBottom="@true">Klient <strong><u>@ReservationHelper.GetClientFirstNameLastName(ClientModel)</u></strong> szczegóły</MudText>
                            </MudItem>
                            <MudItem xs="12">
                                <MudDivider DividerType="DividerType.Middle"/>
                            </MudItem>
                        </MudGrid>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Numer telefonu" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.Call">@ClientModel.PhoneNumber</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Email" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AlternateEmail">@ClientModel.Email</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Firma" Variant="Variant.Outlined">@ClientModel.CompanyName</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="NIP" Variant="Variant.Outlined">@ClientModel.TaxId</MudField>
                        </MudItem>
                        <MudGrid>
                            <MudItem xs="10">
                                <MudField Label="Zakończone rezerwacje" Variant="Variant.Outlined">
                                    @if (FinishedReservations.Any())
                                    {
                                        <ul class="selectable-ul" style="border: none; width:inherit">
                                            @foreach (var item in FinishedReservations)
                                            {
                                                <li @onclick="@(() => Select(item))">
                                                    <div style="justify-content: space-between">
                                                        <MudGrid Spacing="0">
                                                            <MudItem xs="12" sm="4">
                                                                <MudText>Numer: @item.Id</MudText>
                                                            </MudItem>
                                                            <MudItem xs="12" sm="4">
                                                                <MudText>Typ: @(item is HotelReservation ? "Hotel" : "Wydarzenie") </MudText>
                                                            </MudItem>
                                                            <MudItem xs="12" sm="4">
                                                                <MudText>Cena @item.Price</MudText>
                                                            </MudItem>
                                                        </MudGrid>
                                                    </div>
                                                </li>
                                            }
                                        </ul>  
                                    }
                                    else
                                    {
                                        @("Ten klient nie posiada zakończonych rezerwacji")
                                    }
                                </MudField>
                            </MudItem>
                            <MudItem xs="10">
                                <MudField Label="Rezerwacje" Variant="Variant.Outlined">
                                    @if (FutureReservations.Any())
                                    {
                                        <ul class="selectable-ul" style="border: none; width:inherit">
                                            @foreach (var item in FutureReservations)
                                            {
                                                <li @onclick="@(() => Select(item))">
                                                    <div style="justify-content: space-between">
                                                        <MudGrid Spacing="0">
                                                            <MudItem xs="12" sm="4">
                                                                <MudText>Numer: @item.Id</MudText>
                                                            </MudItem>
                                                            <MudItem xs="12" sm="4">
                                                                <MudText>Typ: @(item is HotelReservation ? "Hotel" : "Wydarzenie") </MudText>
                                                            </MudItem>
                                                            <MudItem xs="12" sm="4">
                                                                <MudText>Cena @item.Price</MudText>
                                                            </MudItem>
                                                            <MudItem xs="8">
                                                                <MudText>Przybycie: @item.DateFrom.ToString(Constants.DefaultDateFormat)</MudText>
                                                            </MudItem>
                                                            <MudItem xs="4">
                                                                <MudText>Wymeldowanie: @item.DateTo.ToString(Constants.DefaultDateFormat)</MudText>
                                                            </MudItem>
                                                        </MudGrid>
                                                    </div>
                                                </li>
                                            }
                                        </ul>  
                                    }
                                    else
                                    {
                                        @("Ten klient nie posiada rezerwacji")
                                    }
                                </MudField>
                            </MudItem>
                        </MudGrid>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xl="4">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudGrid>
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6">Aktywna rezerwacja</MudText>
                            </MudItem>
                            <MudItem>
                                <MudDivider DividerType="DividerType.Middle"/>
                            </MudItem>
                        </MudGrid>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                    @if (ActiveReservation == null)
                    {
                        <MudItem xs="12">
                            <MudText Typo="Typo.h6">Ten klient nie ma aktywnej rezerwacji: @ReservationHelper.GetClientFirstNameLastName(ClientModel)</MudText>
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="12">
                            <MudField Label="Numer" Variant="Variant.Outlined">@ActiveReservation.Id</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Przybycie" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.FlightLand">@ActiveReservation.DateFrom.ToString(Constants.DefaultDateFormat)</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Wymeldowanie" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.DirectionsRun">@ActiveReservation.DateTo.ToString(Constants.DefaultDateFormat)</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Liczba gości" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.People">@ActiveReservation.NumberOfGuests</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Liczba pokoi" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.MeetingRoom">@ActiveReservation.RoomReservations.Count</MudField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudButton Variant="Variant.Outlined" OnClick="@(() => Select(ActiveReservation))" Color="Color.Primary">
                                Idź do rezerwacji
                            </MudButton>
                        </MudItem>
                    }
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
}
else
{
    <p>...Waiting</p>
}


@code {
    [Parameter]
    public int Id { get; set; }
    
    private Client ClientModel { get; set; }
    
    private bool PanelExpanded { get; set; }
    
    private Reservation ActiveReservation { get; set; }
    private List<Reservation> FutureReservations { get; set; }
    private List<Reservation> FinishedReservations { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClientModel = clientService.GetById(Id);
        var allReservations = ClientModel.Reservations;
        FinishedReservations = allReservations.Where(x => x.HasFinished).ToList();
        FutureReservations = allReservations.Except(FinishedReservations).ToList();
        ActiveReservation = FutureReservations.FirstOrDefault(x => x.DateFrom <= DateManager.Today);
        await base.OnInitializedAsync();
    }

    private async Task OnClientEdit(Client client)
    {
        await clientService.UpdateClientAsync(client);
        PanelExpanded = false;
    }
    
    private void Select(Reservation reservation)
    {
        if (reservation is HotelReservation)
        {
            navigationManager.NavigateTo($"hotelReservationDetails/{reservation.Id}");
            return;
        }
        
        navigationManager.NavigateTo($"eventReservationDetails/{reservation.Id}");
    }
}