@page "/clientDetails/{Id:int}"
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services
@inject IClientService clientService
@inject NavigationManager navigationManager

@if (ClientModel != null)
{
    <MatAccordion> 
        <MatExpansionPanel Expanded="@PanelExpanded"> 
            <MatExpansionPanelSummary> 
                <MatExpansionPanelHeader>Edit room</MatExpansionPanelHeader> 
            </MatExpansionPanelSummary> 
            <MatExpansionPanelDetails> 
                <HssClientsInput ClientModel="ClientModel" OnSubmit="OnClientEdit"></HssClientsInput>
            </MatExpansionPanelDetails> 
        </MatExpansionPanel>
    </MatAccordion>
    <div class="card">
        <div class="card-body">
            <p>First name  : @ClientModel.FirstName</p>
            <p>Last name  : @ClientModel.LastName</p>
            <p>Company name  : @ClientModel.CompanyName</p>
            <p>Email  : @ClientModel.Email</p>
            <p>Phone  : @ClientModel.PhoneNumber</p>
            <p>Tax ID  : @ClientModel.TaxId</p>
            @if (ClientModel.Reservations is {} reservations&& reservations.Count > 0)
            {
                foreach (var reservation in reservations)
                {
                    <MatListItem>@reservation.Id | @reservation.DateFrom | @reservation.DateTo </MatListItem>
                    <MatDivider Padded="@true"/>
                }
            }
            else
            {
                <p>Client does not have any resevations yet</p>
            }
        </div>
    </div>
}
else
{
    <p>...Waiting</p>
}


@code {
    [Parameter]
    public int Id { get; set; }
    
    private Client ClientModel { get; set; }
    
    private bool PanelExpanded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClientModel = clientService.GetById(Id);


        await base.OnInitializedAsync();
    }

    private async Task OnClientEdit(Client client)
    {
        await clientService.UpdateClientAsync(client);
        PanelExpanded = false;
    }

}