@page "/hotelReservationDetails/{Id:int}"
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.ViewModel
@inject IHotelReservationService hotelReservationService
@inject NavigationManager navigationManager

@if (ReservationModel != null)
{
    <MatAccordion> 
        <MatExpansionPanel Expanded="@PanelExpanded"> 
            <MatExpansionPanelSummary> 
                <MatExpansionPanelHeader>Edit room</MatExpansionPanelHeader> 
            </MatExpansionPanelSummary> 
            <MatExpansionPanelDetails> 
                <HssHotelReservationInput ReservationViewModel="@ReservationModel" OnSubmit="OnReservationUpdate"/>
            </MatExpansionPanelDetails> 
        </MatExpansionPanel>
    </MatAccordion>
    <div class="card">
        <div class="card-body">
            <p>Client : @ReservationModel.Client.FirstName @ReservationModel.Client.LastName</p>
            <p>Price : @ReservationModel.Price</p>
            <p>Date from : @ReservationModel.DateFrom Date to : @ReservationModel.DateTo</p>
            <p>Reserved rooms : </p>
            @if (_reservedRooms.Any())
            {
                foreach (var room in _reservedRooms)
                {
                    <MatListItem>@room.Id</MatListItem>
                    <MatDivider Padded="@true"/>
                }
            }
            <p>Additional Services</p>
            <p>theres no additional services</p>
        </div>
    </div>
}
else
{
    <p>waiting</p>
}


@code {
    [Parameter]
    public int Id { get; set; }
    
    private HotelReservationViewModel ReservationModel { get; set; }
    
    private HotelReservation ReservationReference { get; set; }
    
    private bool PanelExpanded { get; set; }
    
    private List<Room> _reservedRooms = new List<Room>();

    protected override async Task OnInitializedAsync()
    {
        ReservationReference = hotelReservationService.GetById(Id);
        ReservationModel = HotelReservationViewModel.FromHotelReservation(ReservationReference);
        _reservedRooms = ReservationModel.SelectedRooms;
        await base.OnInitializedAsync();
    }

    private async Task OnReservationUpdate(HotelReservationViewModel hotelReservation)
    {
        ReservationReference.UpdateFrom(hotelReservation);
        await hotelReservationService.UpdateHotelReservationAsync(ReservationReference);
        PanelExpanded = false;
    }
}