@page "/userDetails/{Id:int}"
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Core.Helpers
@inject IUserService userService
@inject NavigationManager navigationManager

@if (UserModel != null)
{
    <MudGrid>
        <MudItem xs="12">
            <MudCard Elevation="25">
                <MudExpansionPanel HideIcon="@true" IsExpanded="PanelExpanded">
                    <TitleContent>
                        <div class="d-flex">
                            <MudIcon Icon="@Icons.Rounded.Edit" class="mr3"/>
                            <MudText> Edytuj użytkownika</MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <HssUserInput UserModel="UserModel" IsEdit="@true" OnSubmit="OnUserEdit"/>
                    </ChildContent>
                </MudExpansionPanel>
            </MudCard>
        </MudItem>
        <MudItem xs="8">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudGrid>
                            <MudItem xs="12">
                                <MudText Align="Align.Center" Typo="Typo.h6" Inline="@true" GutterBottom="@true">Użytkownik <strong><u>@UserModel.UserName</u></strong> szczegóły</MudText>    
                            </MudItem>
                            <MudItem xs="12">
                                <MudDivider DividerType="DividerType.Middle"/>
                            </MudItem>
                        </MudGrid>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Nazwa użytkownika" Variant="Variant.Outlined">@UserModel.UserName</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Rola" Variant="Variant.Outlined">@UserModel.UserRole</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Data rejestracji" Variant="Variant.Outlined">@UserModel.DateOfRegistration.ToString(Constants.DefaultDateFormat)</MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudField Label="Ostatnie logowanie" Variant="Variant.Outlined">@UserModel.LastLogin.ToString(Constants.DefaultDateTimeFormat)</MudField>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private bool PanelExpanded { get; set; }
    
    private User UserModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserModel = userService.GetById(Id);
        await base.OnInitializedAsync();
    }

    private async Task OnUserEdit(User user)
    {
        await userService.UpdateUserAsync(user);
        PanelExpanded = false;
    }
}