@page "/userDetails/{Id:int}"
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Entities
@inject IUserService userService
@inject NavigationManager navigationManager

@if (UserModel != null)
{
    <MudExpansionPanel HideIcon="@true" IsExpanded="PanelExpanded">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Rounded.Edit" class="mr3"/>
                <MudText> Edit user</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <HssUserInput UserModel="UserModel" IsEdit="@true" OnSubmit="OnUserEdit"/>
        </ChildContent>
    </MudExpansionPanel>
    <div class="card">
        <div class="card-body">
            <p>User name : @UserModel.UserName</p>
            <p>Last login : @UserModel.LastLogin</p>
            <p>Role : @UserModel.UserRole</p>
        </div>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private bool PanelExpanded { get; set; }
    
    private User UserModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserModel = userService.GetById(Id);
        await base.OnInitializedAsync();
    }

    private async Task OnUserEdit(User user)
    {
        await userService.UpdateUserAsync(user);
        PanelExpanded = false;
    }
}