@page "/rooms"
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Core

@inject IRoomService roomService

<h3>Rooms</h3>
<div class="col-12">
    <hr/>
    <EditForm Model="@ModelRoom" OnValidSubmit="@SaveRoom">
        <HssInputCustom Caption="Room identifier" @bind-Value="ModelRoom.RoomIdentifier"/>
        <HssInputCustom Caption="Floor" @bind-Value="ModelRoom.Floor" />
        <HssInputCustom Caption="Price" @bind-Value="ModelRoom.Price"/>
        <div class="col-12 row">
            <MatButton Unelevated="true" Type="Button" Class="form-control col-2" Style="margin-right: 10px" OnClick="@( s => AddBed(BedType.SingleBed))">X @BedCount(BedType.SingleBed) Single Beds</MatButton>
            <MatButton Unelevated="true" Type="Button" Class="form-control col-2" OnClick="@( s => AddBed(BedType.DoubleBed))">X @BedCount(BedType.DoubleBed) Double Beds</MatButton>
        </div>
        <br/>
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Submit"/>
        </div>
    </EditForm>
    <div class="col-10">
        <h3>Rooms</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Room number</th>
                <th>Single beds</th>
                <th>Double beds</th>
                <th>Floor</th>
                <th>Price</th>
                <th>Is free?</th>
                <th>Is out of service?</th>
                <th>Need cleaning?</th>
            </tr>
            </thead>
            <tbody>
            @if (RoomList != null)
            {
                foreach (var room in RoomList)
                {
                    <tr>
                        <td>@room.RoomIdentifier</td>
                        <td>@BedCount(room, BedType.SingleBed)</td>
                        <td>@BedCount(room, BedType.DoubleBed)</td>
                        <td>@room.IsFree</td>
                        <td>@room.IsOutOfService</td>
                        <td>@room.ShouldBeCleaned</td>
                    </tr>
                }
            }
            else
            {
                <h3>..Loading</h3>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<Room> RoomList { get; set; }
    private Room ModelRoom { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ModelRoom = SetNewRoom();
        RoomList = roomService.GetAllRoomsWithRelations(x => x.Beds);
        await base.OnInitializedAsync();
    }

    private async Task SaveRoom()
    {
        await roomService.AddRoomAsync(ModelRoom);
        RoomList.Add(ModelRoom);
        ModelRoom = SetNewRoom();
    }

    private Room SetNewRoom()
    {
        return new Room()
        {
            IsFree = true,
            IsOutOfService = false,
            ShouldBeCleaned = false
        };
    }

    private void AddBed(BedType bedType)
    {
        ModelRoom.Beds.Add(new Bed() {BedType = bedType});
    }

    private int BedCount(BedType bedType)
    {
        return ModelRoom.Beds.Count(x => x.BedType == bedType);
    }

    private int BedCount(Room room, BedType bedType)
    {
        return room.Beds.Count(x => x.BedType == bedType);
    }
}