@page "/users"
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Entities
@inject IUserService userService
<div class="col-12">
        <hr/>
        <MatAccordion>
            <MatExpansionPanel>
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>
                        Add user
                    </MatExpansionPanelHeader>
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    <HssUserAdd OnUserAdd="@OnUserAdd" /> 
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        </MatAccordion>
    <div class="col-10">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>User name</th>
                <th>Role</th>
                <th>Last login</th>
            </tr>
            </thead>
            <tbody>
            @if (UserList != null)
            {
                foreach (var user in UserList)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.UserRole</td>
                        <td>@user.LastLogin</td>
                    </tr>
                }
            }
            else
            {
                <h3>..Loading</h3>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private List<User> UserList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserList = userService.GetAllUserAsync();
        await base.OnInitializedAsync();
    }

    private void OnUserAdd(User user)
    {
        UserList.Add(user);
    }

}