@page "/hotelReservations"
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services
@using System.Text
@using HotelServiceSystem.ViewModel
@inject IHotelReservationService hotelReservationService
@inject IRoomService roomService

<MudGrid>
    <MudItem xs="12">
        <MudCard Elevation="25">
            <MudExpansionPanel HideIcon="@true">
                <TitleContent>
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Rounded.Add" class="mr3"/>
                        <MudText> Add reservation</MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <HssHotelReservationInput ReservationViewModel="@SetNewHotelReservation()" OnSubmit="OnReservationAdd"/>
                </ChildContent>
            </MudExpansionPanel>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <HssHotelReservationTable HotelReservationList="@ReservationList" Dense="@false"/>
    </MudItem>
</MudGrid>
@code {
    private List<HotelReservation> ReservationList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ReservationList = hotelReservationService.GetAllHotelReservations();
        await base.OnInitializedAsync();
    }
    
    private async Task OnReservationAdd(HotelReservationViewModel hotelReservation)
    {
        var parsedReservation = hotelReservation.ToHotelReservation();
        await hotelReservationService.AddHotelReservationAsync(parsedReservation);
        ReservationList.Add(parsedReservation);
    }

    private HotelReservationViewModel SetNewHotelReservation()
    {
        return new HotelReservationViewModel
        {
            NumberOfGuests = 1,
            Client = new Client
            {
                Id = 0
            }
        };
    }
}