@page "/additionalServices"
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services
@using HotelServiceSystem.Core
@inject IAdditionalServiceService additionalServiceService
@inject NavigationManager navigationManager

<h3>AdditionalServices</h3>
<div class="col-12">
        <hr/>
        <MatAccordion>
            <MatExpansionPanel>
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>
                        Add addiotional service
                    </MatExpansionPanelHeader>
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    <HssAdditionalServiceInput AdditionalServiceModel="@(new AdditionalService())" OnSubmit="@OnAdditionalServiceAdd" AvailableServiceTypes="@_serviceTypes"/> 
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        </MatAccordion>
    <div class="col-10">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            @if (AdditionalServiceList != null)
            {
                foreach (var additionalService in AdditionalServiceList)
                {
                    <tr>
                        <td>@additionalService.Name</td>
                        <td>@additionalService.Price</td>
                        <td><MatButton Type="Button" OnClick="@(() => EditAdditionalService(additionalService.Id))">Edit</MatButton></td>
                    </tr>
                }
            }
            else
            {
                <h3>..Loading</h3>
            }
            </tbody>
        </table>
    </div>
</div>


@code {
    private List<AdditionalService> AdditionalServiceList { get; set; }

    private readonly List<ServiceType> _serviceTypes = new List<ServiceType> {ServiceType.Reservation, ServiceType.Room};

    protected override async Task OnInitializedAsync()
    {
        AdditionalServiceList = additionalServiceService.GetAllAdditionalServices();
        await base.OnInitializedAsync();
    }

    private async Task OnAdditionalServiceAdd(AdditionalService additionalService)
    {
        await additionalServiceService.AddAdditionalServiceAsync(additionalService);
        AdditionalServiceList.Add(additionalService);
    }

    private void EditAdditionalService(int id)
    {
        navigationManager.NavigateTo($"additionalServiceDetails/{id}");
    }
}