@page "/clients"
@using HotelServiceSystem.Entities
@using HotelServiceSystem.Interfaces.Services
@inject IClientService clientService
@inject NavigationManager navigationManager
<h3>Clients</h3>

<div class="col-12">
    <hr/>
    <MatAccordion>
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>
                    Add Client
                </MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <HssClientsInput ClientModel="@(new Client())" OnSubmit="@OnClientAdd" />
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>
    <div class="col-10">
        <h3>Clients</h3>
        <table class="table">
            <thead>
            <tr>
                <th>First mame</th>
                <th>Last name</th>
                <th>Company name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Tax Id</th>
            </tr>
            </thead>
            <tbody>
            @if (ClientList != null)
            {
                foreach (var client in ClientList)
                {
                    <tr>
                        <td>@client.FirstName</td>
                        <td>@client.LastName</td>
                        <td>@client.CompanyName</td>
                        <td>@client.Email</td>
                        <td>@client.PhoneNumber</td>
                        <td>@client.TaxId</td>
                        <td><MatButton Type="Button" OnClick="@(() => ShowDetails(client.Id))">Details</MatButton></td>
                    </tr>
                }
            }
            else
            {
                <h3>..Loading</h3>
            }
            </tbody>
        </table>
    </div>
</div>


@code {
    private List<Client> ClientList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClientList = clientService.GetAllClients();
        await base.OnInitializedAsync();
    }

    private async Task OnClientAdd(Client client)
    {
        await clientService.AddClientAsync(client);
        ClientList.Add(client);
    }

    private void ShowDetails(int id)
    {
       navigationManager.NavigateTo($"clientDetails/{id}"); 
    }

}